* {
    box-sizing: border-box;
}

body {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../images/white-waves.png");
}

.headSection{
    overflow: auto;
    background: white;
}

#headerContent {
    width: 960px;
    margin: auto;
    overflow: auto;
}

header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background: #4aaaa5;
    color: #ffffff;
    float: left;
    padding: 25px;
    font-size: 30px;
}

.indexTab, .portfolioTab, .contactTab {
    font-size: 16px;
    background: #ffffff;
    float: right;
    margin-top: 32px;
    margin-bottom: 32px;
    padding-left: 32px;
}

.indexTab, .portfolioTab {
    padding-right: 32px;
 }

.indexTab, .portfolioTab {
    border-right: lightgrey 1px solid;
}

hr {
    margin: 0;
    padding: 0;
    border-color: #cccccc;
}

#contentContainer {
    margin: auto;
    position: relative;
    overflow: auto;
    width: 960px;
    height: auto;
    padding: 40px;
    background: white;
    margin-top: 40px;
    border: #dddddd 1px solid;
}

.contentHeader {
    font-size: 50px;
    float: left;
    color: teal;
    margin-bottom: 10px;
}

#line2 {
    clear: both;
}

#myPicture {
    float: left;
    height: 200px;
    width: 200px;
    margin-right: 10px;
}

.aboutText {
    font-size: 18px;
    line-height: 25px;
}

footer {
    border-top: #4aaaa5 8px solid;
    padding-top: 40px;
    background: #666666;
    text-align: center;
    color: #ffffff;   
}

h3 {
    font-size: 150%;
}

.smallTextBox {
    margin-top: 3px;
    width: 100%;
    height: 34px;
}

.largeTextBox {
    margin-top: 3px;
    width: 100%;
    height: 200px;
}

h5 {
    float: left;
    margin-top: 6px;
    padding: 10px;
    font-size: 200%;
    background: #4aaaa5;
}

.projectElementLeft, .projectElementCenter, .projectElementRight {
    position: relative;
    left: 0;
    float: left;
    overflow: auto;
    margin-block-end: 20px;
}

.projectElementLeft, .projectElementCenter {
    margin-right: 20px;
}

.blankProject {
    display: none;
}

.placeholder {
    height: auto;
    width: auto;
    max-width: 280px;
    max-height: 210px;
}

#project1 {
    top: 20%;
}

h4 {
    position: absolute;
    top: 66%;
    background: #4aaaa5;
    color: #ffffff;
    width: 100%;
    padding: 10px;
    text-align: center;
}

